<extend name="Public/index"/>
<block name="title">
	<title> 热门回答 |  发现问答 | 问答 | 果壳网 科技有意思</title>
</block>
<block name="nav">
	<div class="sub-nav">
	    <div class="sub-nav-wrap gclear">
	        <h2>
	            <a href="/ask/"><span class="gnav-logo">果壳</span>问答</a>
	        </h2>
	        <ul class="sub-nav-link gfl">
	            <li>
	                <a href="{:U('Home/Question/index')}">问答首页</a>
	            </li>
	            <li class="current">
	                <a href="{:U('Home/Question/question')}">发现问答</a>
	            </li>
	            <li>
	                <a href="{:U('Home/Question/waitque')}">等待回答</a>
	            </li>
	            <li >
	                <a href="{:U('Home/Question/newque')}">最新问题</a>
	            </li>
	            <li>
	                <a href="{:U('Home/Quetag/index')}">标签广场</a>
	            </li>
	        </ul>
	        <div class="sub-nav-btn gfr">
		        <if condition="$uid eq '' ">
		            <a data-gaevent="ask_nav_button_ask:ask" class="gnbtn-primary" href="{:U('Home/Login/index')}">提问</a>
		        <else />
		            <a data-gaevent="ask_nav_button_ask:ask" class="gnbtn-primary" href="{:U('Home/Question/add')}">提问</a>
		        </if>
	            <a href="{:U('Home/Question/waitque')}" class="gnbtn-primary">我要回答</a>
	        </div>
	    </div>
	</div>
</block>
<block name="content">
<div class="gwrap tag-square-page">
<div class="gmain">
    <div class="page-title">
        <h2>发现问题</h2>
    </div>
    <ul class="gntabs">
	    <li <if condition="$num eq 1"> class="gtabs-curr"</if> ><a href="{:U('Home/Question/question',array('num'=>'1'))}">热门问答</a></li>
	    
	    <li <if condition="$num eq 2"> class="gtabs-curr"</if> ><a href="{:U('Home/Question/question',array('num'=>'2'))}">精彩回答</a></li>
	    
	    <li <if condition="$num eq 3"> class="gtabs-curr"</if> ><a href="{:U('Home/Question/question',array('state'=>3,'num'=>'3'))}">大家都喜欢</a></li>
	    
	    <li <if condition="$num eq 4"> class="gtabs-curr"</if> ><a href="{:U('Home/Question/question',array('state'=>4,'num'=>'4'))}">等待支持</a></li>
    </ul>
    <if condition="$que neq '' ">
	    <ul class="ask-list-cp">
	    	<foreach name="que" item="vo" >
		        <li>
		            <div class="ask-hot-nums">
		                <p class="ask-focus-nums">
		                <span class="num">{$vo.follow_num}</span>关注
		                </p>
		                <p class="ask-answer-nums">
		                <span class="num">{$vo.answer_num}</span>回答
		                </p>
		            </div>
		            <div class="ask-list-detials">
		                <h2>
		                	<a target="_blank" href="{:U('Home/Question/subject',array('id'=>$vo['id']))}">
		                		{$vo.sub_name}
		                	</a>
		                </h2>
		                <p class="ask-list-summary">
		                	{$vo.sub_msg}
		                </p>
		                
		                <div class="ask-list-legend">
		                    <p class="tags">
		                    <span class="tag-title">标签：</span>
					    	<foreach name="vo['tag_name']" item="v" >
			                    <a target="_blank" href="{:U('Home/Quetag/tag',array('tag_id'=>$v['tag_id']))}" class="tag">
			                    	{$v.tag_name}
			                    </a>
		                    </foreach>
		                    </p>
		                </div>
		            </div>
		        </li>
	    	</foreach>
	    </ul>
    </if>
    <if condition="$likeans neq '' ">
		<ul class="ask-multi-list ask-multi-current">
	    	<foreach name="likeans" item="vo" >
		    <li class="gclear">
		        <span class="ask-multi-up">
		            <span class="ask-support-num">{$vo.zan}</span>
		            <span class="icon-support"></span>
		        </span>
		        
		        <div class="gfl">
		            <h4 class="gellipsis">
		                <a href="http://www.guokr.com/ask/i/1049918203/">{$vo.User_Nickname}</a>&nbsp;回答&nbsp;<a href="{:U('Home/Question/subject',array('id'=>$vo['id']))}" target="_blank">{$vo.sub_name}</a>
		            </h4>
		            <p class="gellipsis">
		                {$vo.ans_msg}
		            </p>
		        </div>
		        
		        <span class="gfr">{$vo.ans_time}</span>
		    </li>
		    </foreach>
		</ul>
	</if>
	<if condition="$waitans neq '' ">
		<ul class="ask-multi-list ask-multi-current">
	    	<foreach name="waitans" item="vo" >
		    <li class="gclear">
		        <span class="ask-multi-up">
		            <span class="ask-support-num">{$vo.zan}</span>
		            <span class="icon-support"></span>
		        </span>
		        
		        <div class="gfl">
		            <h4 class="gellipsis">
		                <a href="http://www.guokr.com/ask/i/1049918203/">{$vo.User_Nickname}</a>&nbsp;回答&nbsp;<a href="{:U('Home/Question/subject',array('id'=>$vo['id']))}" target="_blank">{$vo.sub_name}</a>
		            </h4>
		            <p class="gellipsis">
		                {$vo.ans_msg}
		            </p>
		        </div>
		        
		        <span class="gfr">{$vo.ans_time}</span>
		    </li>
		    </foreach>
		</ul>
	</if>
	<ul class="gpages">
        <div id="pages" style="margin-left:300px;">
           {$pages}
        </div>
	</ul>
</div>
</div>
	<script src="__PUBLIC__/Home/assets/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
		// 绑定关注单击事件
		$('#follow').live('click',function(){
			// 获取标签id
			var tagid=$(this).attr('tagid');

			// 设置url
			var url='{:U("Home/Quetag/follow")}';

			var follow=$(this);
			// 发送ajax
			$.get(url,{tag_id:tagid},function(data){
				if(data==1){
					follow.parent('div').html('<a id="isfollow" tagid='+tagid+' ><span style="font-size:12px;color:red;margin-right:5px;">-</span>取消</a>');
				}else{
					alert('请登入');
				}
			})
		})

		// 绑定取消关注单击事件
		$('#isfollow').live('click',function(){
			// 获取标签id
			var tagid=$(this).attr('tagid');

			// 设置url
			var url='{:U("Home/Quetag/isfollow")}';

			var isfollow=$(this);
			$.get(url,{tag_id:tagid},function(data){
				if(data==1){
					isfollow.parent('div').html('<a id="follow" class="gnbtn-plat follow-btn" tagid='+tagid+'><span>+</span>关注</a>');
				}else{
					alert('取消失败');
				}
			})
		})
	</script>

	<style type="text/css">
	    #pages a,#pages span{ background-color: #fff;
            border: 1px solid #ddd;
            color: #337ab7;
            float: left;
            line-height: 1.42857;
            margin-left: -1px;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;}
	    #pages span {
          background-color: #337ab7;
          border-color: #337ab7;
          color: #fff;
          cursor: default;
          z-index: 2;}
		.gnbtn-plat:hover{
			cursor:pointer;
		}
		#follow{
			font:12px 'Microsuft Yahei';line-height:30px;position:absolute;right:10px;top:0px;
		}
		#isfollow{
			position:absolute;right:20px;top:5px;
		}
		#isfollow:hover{
			text-decoration:none;
			cursor:pointer;
		}
	</style>
</block>