<extend name="Public/public"/>
<block name="content">
        <!-- 头部 -->
        <div class="page-header">
            <div class="pull-left">
              <ol class="breadcrumb visible-sm visible-md visible-lg">                
                <li><a href="{:U('User/index')}"><i class="icon fa fa-home"></i>管理组</a></li>
                <li class="active"><i class="fa fa-laptop"></i>管理组添加</li>
              </ol>           
            </div>
            <div class="pull-right">
              <h2>Dashboard</h2>
            </div>          
        </div>
        <!-- 头部结束 -->




        <div style="background-color: white;width:60%;" class="center-block">
          <div class="panel-body">

                  <form action="{:U('Admin/Jurisdiction/save')}" method="post" class="form-horizontal" enctype="multipart/form-data">

                    
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="text-input">管理组名</label>
                      <div class="col-md-9">

                        <input type="text" style="width:70%" id="text-input" name="title" readmin="请输入管理组名" class="form-control" placeholder="管理组名">

                        <span class="help-block" style="height:20px;display:none;"></span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 control-label" for="email-input">管理组权限快速选择</label>
                      <div class="col-md-9">
                        <button id="selectAll" class="bk-margin-5 btn btn-primary" type="button">全选</button>
                        <button id="unSelect" class="bk-margin-5 btn btn-success" type="button">全不选</button>
                        <button id="reverse" class="bk-margin-5 btn btn-warning" type="button">反选</button>
                      </div>
                    </div>

                    <div id="list">
                    <foreach name="ruleres" item="v">
                    <div class="form-group" style="height:20 px;">
                      <label class="col-md-3 control-label" for="email-input">管理组权限{$v.id}:</label>
                      <div class="col-md-9" style="padding-top:4px;">
                        <input type="checkbox" name="rules[]" value="{$v.id}"> {$v.title}
                      </div>
                    </div>
                    </foreach>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="email-input">管理组成员快速选择</label>
                      <div class="col-md-9">
                        <button id="selectAlls" class="bk-margin-5 btn btn-primary" type="button">全选</button>
                        <button id="unSelects" class="bk-margin-5 btn btn-success" type="button">全不选</button>
                        <button id="reverses" class="bk-margin-5 btn btn-warning" type="button">反选</button>
                      </div>
                    </div>
                    
                    <div id="lists">
                    <foreach name="adminres" item="v">
                    <div class="form-group">
                      <label class="col-md-3 control-label" for="email-input">管理组成员{$v.A_ID}:</label>
                      <div class="col-md-9" style="padding-top:4px;">
                        <input type="checkbox" name="uid[]" value="{$v.A_ID}"> {$v.Admin_name}
                      </div>
                    </div>
                    </foreach>
                    </div>





                    <div class="center-block" style="width:90px">
  
                   <button type="submit" class="bk-margin-5 btn btn-success btn-sm subm" style="margin:0px auto;" disabled>确定</button>
                   </div>
                    <br>

                    
                  </form>
                </div>
        </div>

          <!-- ajax验证 -->
    <script src="__PUBLIC__/Admin/assets/js/jquery-1.8.3.min.js"></script>
    <script>

      $(function(){


        //管理组权限
        //全选
        $("#selectAll").click(function () { 
           $("#list :checkbox").attr("checked", true);   
        }); 
        //全不选
        $("#unSelect").click(function () {   
           $("#list :checkbox").attr("checked", false);   
        });  
        // 反选
        $("#reverse").click(function () {  
            $("#list :checkbox").each(function () {   
                $(this).attr("checked", !$(this).attr("checked"));   
            }); 
            allchk(); 
        }); 

        //管理组成员
        //全选
        $("#selectAlls").click(function () { 
           $("#lists :checkbox").attr("checked", true);   
        }); 
        //全不选
        $("#unSelects").click(function () {   
           $("#lists :checkbox").attr("checked", false);   
        });  
        // 反选
        $("#reverses").click(function () {  
            $("#lists :checkbox").each(function () {   
                $(this).attr("checked", !$(this).attr("checked"));   
            }); 
            allchk(); 
        }); 

        //管理组名是否可用
        $("#text-input").keyup(function() {
          //获取组名文本框内容
          var groupname=$(this).val();
          //判断内容是否为空
          if (groupname=='') {
            //隐藏提示内容框
            $(".help-block").css('display','none');
            //禁用按钮
            $('.subm').attr({'disabled':'disabled'});
          } else{
            //显示提示内容框
            $(".help-block").css('display','inline-block');
            //启用按钮
            $('.subm').removeAttr('disabled');
          };
          //url
          var url="{:U('Admin/Jurisdiction/ajaxGroupName')}"
          //ajax
          $.post(url, {groupname:groupname}, function(data) {
              //返回结果集判断
              if (data==1) {
                //组名已存在的提示
                $(".help-block").css('color','red');
                $(".help-block").html('组名已存在,请更换');
              } else{
                //组名可用的提示
                $(".help-block").css('color','green');
                $(".help-block").html('组名可用');
              };
          });
        });

     
      

        
      })

    </script>

</block>