<extend name="Public/public"/>
<block name="content">

      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-default bk-bg-white">
                <div class="panel-heading bk-bg-white">
                  <h6><i class="fa fa-table red"></i><span class="break"></span>权限列表</h6>              
                  <div class="panel-actions">
                    <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                  
                <div class="panel-body">
                  <div class="row">
                    
                    <div class="col-sm-2">
                      <div class="bk-margin-bottom-10">

                        <a href="{:U('Admin/Jurisdiction/add')}" id="addToTable" class="btn btn-info">Add<i class="fa fa-plus"></i></a>

                      </div>
                    </div>
                    
                    <div class="btn-group col-sm-10">

                    </div>
                    
                  </div>




                  <table class="table table-bordered table-striped mb-none ziti lh" id="datatable-editable">
                    <thead>
                      <tr>
                        <th width="20%">ID</th>
                        <th width="30%">组名</th>
                        <th width="20%">状态(双击以更改)</th>
                        <th>操作([查看管理员],权限编辑,删除,[增加组成员])</th>
                      </tr>
                    </thead>
 
                    <foreach name="res" item="v"> 
                      <tr class="gradeX">
                        <td class="sid">{$v.id}</td>
                        <td>{$v.title}</td>
                        <td class="disp">{$v.status}</td>
                        <td>
                            
                            <!-- if判断标志,是否有组成员 -->
                            <if condition="$v['son'] eq 1 ">
                            <a href="{:U('Admin/Jurisdiction/admins',array('id'=>$v['id']))}" class="on-default edit-row btn_edit" title="查看管理员"><i class="fa fa-bars"></i></a>　
                            </if>

                            
                            <a href="{:U('Admin/Jurisdiction/edit',array('id'=>$v['id']))}" class="on-default edit-row btn_edit compile" title="编辑"><i class="fa fa-pencil"></i></a>　


                            <a href="#" class="del on-default remove-row btn_del" title="删除"><i class="fa fa-trash-o"></i></a>　

                             <!-- if判断标志,是否有组成员 -->
                            <if condition="$v['addadmin'] eq 1 ">
                            <a href="{:U('Admin/Jurisdiction/groupAdd',array('id'=>$v['id']))}" class="on-default edit-row btn_edit" title="添加管理员"><i class="fa fa-plus"></i></a>　
                            </if>
                        </td>
                      </tr>
                    </foreach>
                  </table>


                   <div class="col-md-offset-4 mt">
                   <div class="dataTables_paginate paging_bs_normal" id="datatable-editable_paginate">
                        <div id="pages">
                          {$pages}
                        </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>  

        <!-- jquery -->
        <script src="__PUBLIC__/Home/assets/Scripts/jquery-1.8.3.min.js"></script>

        <script type="text/javascript">
          //是否显示
          $('.disp').dblclick(function() {
            //获取当前状态文本
            var dis=$(this).html();
            //获取id
            var id=$(this).parents('tr').find('.sid').html();
            //获取this
            var td=$(this);
            //ajax url
            var url="{:U('Admin/Jurisdiction/ajaxReva')}";
            //ajax修改是否显示
            $.post(url,{id:id,status:dis}, function(data) {
              if (data==1) {
                //修改状态文本
                if (dis=='是') {
                  td.html('否');
                } else{
                  td.html('是');
                };
              } else{
                alert('系统繁忙,请稍后重试');
              };
            });
            return false;
          });
          //删除
          $('.del').click(function(){
            //获取id
            var id=$(this).parents('tr').find('.sid').html();
            // alert(id);
            var url="{:U('Admin/Jurisdiction/ajaxdel')}";
            var td=$(this);
            //ajax删除
            $.post(url, {id:id}, function(data) {
              console.log(data);
              if (data==1) {
                td.parents('tr').remove();
              } else if(data==0){
                alert('系统繁忙,请稍后重试');
              };
            });
          })
        </script>        

</block>

