<extend name="Public/public"/>
<block name="content">

<script src="__PUBLIC__/Admin/assets/js/jquery-1.8.3.min.js"></script>

         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-default bk-bg-white">
                <div class="panel-heading bk-bg-white">
                  <h6><i class="fa fa-table red"></i><span class="break"></span>文章管理</h6>              
                  <div class="panel-actions">
                    <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                  
                <div class="panel-body">
                  <div class="row">
                    
                    <div class="col-sm-2 number">
                      <div class="bk-margin-bottom-10">
                        <button type="button" class="btn btn-default dropdown-toggle" 
                           data-toggle="dropdown" style="background-color: #B8ECE5;">
                           <if condition="$Think.get.num eq 2"> 
                               显示条数:2
                           <elseif condition="$Think.get.num eq 5" />
                               显示条数:5
                           <elseif condition="$Think.get.num eq 10" />
                               显示条数:10
                           <else /> 
                               显示条数
                           </if>
                           <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                           <li><a href="{:U('Admin/Sciencearticle/index',array('num'=>2))}">显示条数:2</a></li>
                           <li><a href="{:U('Admin/Sciencearticle/index',array('num'=>5))}">显示条数:5</a></li>
                           <li><a href="{:U('Admin/Sciencearticle/index',array('num'=>10))}">显示条数:10</a></li>
                        </ul>
                      </div>
                    </div>
                    
                    <div class="btn-group col-sm-6"></div>
                    
                    <div class="col-sm-4">
                      <form class="search navbar-form"  action="{:U('Admin/Sciencearticle/index')}" method="get">
                          <div class="input-group input-search">
                            <input type="text" class="form-control bk-radius seekcname" name="keyword" id="q" placeholder="请输入文章标题...">
                            <span class="input-group-btn" style="width:0px">
                              <button class="btn btn-default" id="formm"><i class="fa fa-search"></i></button>
                            </span>
                          </div>            
                      </form>
                    </div>
                  </div>


                  <?php if (empty($res)): ?>
                    <script type="text/javascript">
                      $('.number').remove();
                    </script>
                    <p>查询不到搜索的内容</p>
                  <?php else: ?>
                  <foreach name="res" item="v"> 
                    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                      <thead>
                        <tr>
                          <th width="300px" height="35px">缩略图</th>
                          <th width="10%">文章ID</th>
                          <th width="10%">上线</th>
                          <th width="25%">发表用户账号</th>
                          <th>上传时间</th>
                        </tr>
                      </thead>
                      <tr class="gradeX">
                        <td rowspan="3" class="sid">{$v.Img}</td>
                        <td class="ssid edit_name classname actions">{$v.id}</td>
                        <td class="actions">{$v.Display}</td>
                        <td class="disp actions">{$v.User_Email}</td>
                        <td class="actions">{$v.Time}</td>
                        
                      </tr>
                      <tr>
                        <th colspan="2" height="35px">文章标题</th>
                        <th>文章分类</th>
                        <th>操作 (查看文章,编辑,删除)</th>
                      </tr>
                      <tr>
                        <td colspan="2" class="actions">{$v.Title}</td>
                        <td class="actions">{$v.Class_Title}</td>
                        <td class="actions">
                          <a href="{:U('Admin/Scienceaudit/content',array('id'=>$v['id']))}" class="on-default remove-row btn_del" title="查看文章"><i class="fa fa-folder-open"></i></a>　

                          <a href="{:U('Admin/Sciencearticle/reva',array('id'=>$v['id']))}" class="on-default edit-row btn_edit compile" title="编辑"><i class="fa fa-pencil"></i></a>
                          　
                          <a href="#" class="del on-default remove-row btn_del" title="删除"><i class="fa fa-trash-o"></i></a>
                          　
                        </td>
                      </tr>
                    </table>
                    <hr>
                  </foreach>
                  <?php endif ?>

                     <div class="col-md-offset-4 mt">
                     <div class="dataTables_paginate paging_bs_normal" id="datatable-editable_paginate">
                          <div id="pages">
                            {$pages}
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>  
          <!--  compileajax删除 -->
          <script type="text/javascript">
            // 通过审核按钮
            $('.del').click(function(){
              //获取id
              var id=$(this).parents('table').find('.ssid').html();
              //url
              var url="{:U('Admin/Sciencearticle/ajaxdel')}";
              //this赋值
              var td=$(this);
              //ajax删除
              $.post(url, {id:id});
              //淡出
              td.parents('table').fadeTo("slow", 0.01, function(){
                //删除hr
                td.parents('table').next('hr').remove();
                //删除表格
                td.parents('table').remove();
              });
            });
            //动态更改缩略图大小
            $('.sid').find('img').css('width','280px');
          </script>            

</block>

