<extend name="Public/public"/>
<block name="content">

      <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-default bk-bg-white">
                <div class="panel-heading bk-bg-white">
                  <h6><i class="fa fa-table red"></i><span class="break"></span>用户表</h6>              
                  <div class="panel-actions">
                    <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                  
                <div class="panel-body">
                  <div class="row">
                    
                    <div class="col-sm-2">
                      <div class="bk-margin-bottom-10">
                        <a href="{:U('Admin/BiBo/add')}" id="addToTable" class="btn btn-info">Add<i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                    
                    <div class="btn-group col-sm-6">

                       <button type="button" class="btn btn-default dropdown-toggle" 
                          data-toggle="dropdown" style="background-color: #B8ECE5;">
                          <if condition="$Think.get.page eq 2"> 
                              2
                          <elseif condition="$Think.get.page eq 5"/>
                              5
                          <elseif condition="$Think.get.page eq 10"/>
                              10
                          <else /> 
                              显示条数
                          </if>
                          <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" role="menu">
                          <li><a href="{:U('Admin/BiBo/index',array('page'=>2))}">2</a></li>
                          <li><a href="{:U('Admin/BiBo/index',array('page'=>5))}">5</a></li>
                          <li><a href="{:U('Admin/BiBo/index',array('page'=>10))}">10</a></li>
                       </ul>
                    </div>
                    
                    <div class="col-sm-4">
                      <form class="search navbar-form"  action="{:U('Admin/BiBo/index')}" method="get">
                          <div class="input-group input-search">
                            <input type="text" class="form-control bk-radius" name="keyword" id="q" placeholder="Search...">
                            <span class="input-group-btn" style="width:0px">
                              <button class="btn btn-default" id="formm" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                          </div>            
                      </form>
                    </div>
                  </div>



                  <table class="table table-bordered table-striped mb-none ziti" id="datatable-editable" style="text-align:center">
                    <thead>
                      <tr>
                        <th class="ct">ID</th>
                        <th class="ct">模块名称</th>
                        <th class="ct">控制器</th>
                        <th class="ct">是否显示</th>
                      </tr>
                    </thead>
 
                    <foreach name="res" item="v"> 
                      <tr class="gradeX">
                        <td id="sid" width="10%">{$v.BiBo_id}</td>
                        <td width="13%" height="45px"><span class="edit_name title cu" >{$v.BiBo_title}</span></td>
                        <td width="14%" id="edit_sex" ><span class="cont cu">{$v.BiBo_Controller}</span></td>
                        <td width="5%" id="edit_NK">
                        <if condition="$v.Display eq 0"> 
                            <span class="glyphicon glyphicon-eye-open xianshi" style="color:green;cursor:pointer" value="0"></span></td>
                        <else /> 
                            <span class="glyphicon glyphicon-eye-close xianshi" style="color:#ccc;cursor:pointer" value="1"></span></td>
                        </if>
                      </tr>
                    </foreach>
                  </table>

                   <div class="col-md-offset-4 mt">
                   <div class="dataTables_paginate paging_bs_normal" id="datatable-editable_paginate">
                        <div id="pages">
                          {$pages}
                        </div>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>  
          <!-- ajax显示设置 -->
        <script src="__PUBLIC__/Admin/assets/js/jquery-1.8.3.min.js"></script>
        <script>
        $('.xianshi').click(function(){
          var id=$(this).parents('tr').find('#sid').text();
          console.log(id);
          if($(this).attr('value')==0){
            $.post(
              "{:U('BiBo/index')}",
              {Display:1,BiBo_id:id},
              function(data){

              }
            )
            $(this).attr('value',1);
            $(this).attr('class','glyphicon glyphicon-eye-close xianshi')
            $(this).css({color:'#ccc'});
          }else{
            $.post(
              "{:U('BiBo/index')}",
              {Display:0,BiBo_id:id},
              function(data){

              }
            )
            $(this).attr('value',0);
            $(this).attr('class','glyphicon glyphicon-eye-open xianshi')
            $(this).css({color:'green'});
          }


        })
        </script>

         <script>

          var biao=true;

             $('.title').click(function(){
              if(!biao){return};
                var v=$(this).html();
                biao=false;
                var newv=$('<input type="text" style="width:100px" value="'+v+'" name="username">');
                $(this).html(newv);
                var zz=$(this);
                var id=zz.parents('tr').find('#sid').text();
                newv.select();
                newv.blur(function(){
                  var newV = $(this).val();
                  // console.log(newV);
                  if(newV==''||newV==v){
                    zz.html(v);
                  }else{
                  zz.html(newV);
                  $.post(
                    "{:U('Admin/BiBo/update')}",
                    {BiBo_title:newV,BiBo_id:id},
                    function(date){
                      if(date==1){
                        alert('修改模块失败!');
                      }
                    },'json'
                    )
                  }
                  biao=true;
                })
             })

             $('.cont').click(function(){
              if(!biao){return};
                //开始的值
                var v=$(this).html();
                biao=false;
                var newv=$('<input type="text" style="width:100px" value="'+v+'" name="username">');
                $(this).html(newv);
                var zz=$(this);
                var id=zz.parents('tr').find('#sid').text();
                newv.select();
                newv.blur(function(){
                  //修改后的值
                  var newV = $(this).val();
                  // console.log(newv);
                  if(newV==''||newV==v){
                    zz.html(v);
                  }else{
                  zz.html(newV);
                  $.post(
                    "{:U('Admin/BiBo/update')}",
                    {BiBo_Controller:newV,BiBo_id:id},
                    function(date){
                      if(date==1){
                        alert('修改模块失败!');
                      }
                    },'json'
                    )
                  }
                  biao=true;
                })
             })


             

             


          </script>



</block>

